<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Delta Banking - Dashboard</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <div class="header-left">
        <img src="Pasted image.png" alt="Crystal Delta Banking" class="logo">
    </div>
    <div class="containernew">
        <div class="dashboard-page">
            <header>
               <a href="index.html" ><button id="logout-btn" class="btn-logout">Logout</button></header>
            </header>
            <main>
                <!-- Account Summary Content -->
                <div class="page-content">
                    <div class="account-summary-box">
                        <h2>Account Summary</h2>
                        <div class="account-summary-container">
                            <div class="summary-nav">
                                <ul>
                                    <li><a href="?page=account-summary" class="nav-link">Account Summary</a></li>
                                    <li><a href="transfer.html" class="nav-link" >Transfer fund</a></li>
                                </ul>
                            </div>
                            <div class="summary-details">
                                <details class="account-row">
                                    <summary>
                                        <div class="account-type">Savings Account</div>
                                        <div class="account-balance">Closing balance:$40,400 <i class="fas fa-check"></i></div>
                                    </summary>
                                    <div >
                                        <p><strong>Account No:45678</strong> </p>
                                        <p><strong>Branch:indian bank</strong></p>
                                        <p><strong>Name:rishi</strong></p>
                                        <p><strong>IFSC code:756743</strong></p>
                                        <button class="statement">View Statement</button>
                                    </div>
                                </details>
                               
                                <details class="account-row">
                                    <summary>
                                    <div class="account-type">Current account</div>
                                    <div class="account-balance">Closing balance:$30.000 <i class="fas fa-check"></i></div>
                                    
                                    </summary>
                                    <div>
                                        <p><strong>Account No:4567</strong> </p>
                                        <p><strong>Branch:indian</strong> </p>
                                        <p><strong>Name:bala</strong> </p>
                                        <p><strong>IFSC code:459876</strong> </p>
                                        <button class="statement">View Statement</button>
                                    </div>
                                </details>
                                <details class="account-row">
                                    <summary>
                                    <div class="account-type">Credit Account</div>
                                    <div class="account-balance">Closing balance:20.000  <i class="fas fa-check"></i></div>
                                  
                                    </summary>
                                    <div>
                                        <p><strong>Account No:986547</strong> </p>
                                        <p><strong>Branch:south</strong> </p>
                                        <p><strong>Name:rishi bala</strong> </p>
                                        <p><strong>IFSC code:456734</strong></p>
                                        <button class="statement">View Statement</button>
                                    </div>
                                </details>
                            </div>
                        </div>
                    </div>
                </div>
            </main>    
        </div>       
    </div>
  
</body>
</html>