<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Delta Banking</title>
    <link rel="stylesheet" href="index.css">
</head>
 <img src="Pasted image.png" alt="Crystal Delta Banking" class="logo">
<div class="container">
<body>
    <div class="container-log">
        <h1>Welcome to <p>Crystal Delta</p> Banking</h1>
    </div>
    <div class="container-sign">
        <div class="page" id="login-page">
            <main>
                <form id="login-form" class="login-form">
                    <div class="form-group">
                        <h2>Login to your account</h2>
                        <label for="customer-id">Customer ID</label>
                        <input type="text" id="customer-id" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" required>
                    </div>
                    <button type="submit" class="btn-primary">Login</button>
                    <a href="login.html" class="Register" >Register</a>
                </form>
            </main>
        </div>
    </div>    
</div> 
<script src="verify.js"></script>        
</body> 
</html>