<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CONTACT US</title>

    <h2>Welcometo<p> The User</p> Login</h2>
    <form id="login-form" class="overall" method="post" action="/bank/register">
        <h1>Fill Up</h1>
        <div class="name">
            <p>Customer Name:</p>
            <input type="text" id="customer-name" placeholder="Enter your name" required>
        </div>
        <div class="name">
            <p>Bank Name:</p>
            <input type="text" id="bank-name" placeholder="Enter your bank name" required>
        </div>
        <div class="name">
            <p>Type:</p>
            <input type="text" id="type" placeholder="Enter your account type" required>
        </div>
        <div class="name">
            <p>Password:</p>
            <input type="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="name">
            <p>Confirm Password:</p>
            <input type="password" id="confirm-password" placeholder="Confirm your password" required>
        </div>
        <center><button type="submit">SUBMIT</button></center>
    </form>
    <script src="login.js"></script>
</head>
</html>